.venv/
.git/
.github/
.pytest_cache/
__pycache__/
*.pyc
.env
alembic/
prod_test/
alembic.ini
data/model_adapters/
tests/datasets/
tests/LIAR/
tests/results/
tests/article_retrieval_eval.py
tests/entity_matching_eval.py